---
layout: default
---
<article itemscope itemtype="http://schema.org/Article">
  <div class="post">
    <h1 itemprop="name" w="post-title">{{ page.title }}</h1>
    <p class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}</p>
    <p class="post-date" itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</p>
    {{ content }}
    {% if page.comments %}
      <div class="fb-comments" data-href="http://numericjungle.github.io/" data-numposts="5"></div>
    {% endif %}
  
  </div>

</article>
